<h1>Terms of Service</h1>

<p>
  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
  doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
  veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
  ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
  consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
  Neque porro quisquam est/
</p>

<p>
  If you agree to these terms of service, select the "Agree" button to proceed.
  Once you hit agree you will be sent to ORCID to login and grant permission
  to send your ORCID ID back to this application.
</p>

<form action="/orcid_auth_code_request">
  <div style="text-align: center">
   <button type="submit">Agree</button>
  </div>
</form>
