<h1>ORCID Error</h1>

<div>ORCID responded with the following error:</div>
<div><strong>Error Code:</strong> <%= @error_code %></div>
<div><strong>Error Code Type:</strong> <%= @error_code_type %></div>
<div><strong>Error Message:</strong> <%= @error_message %></div>
<div><strong>Error Description:</strong> <%= @error_description %></div>
