<h1>ORCID Error</h1>

<div>ORCID responded with the following error</div>
<div>Error Code: <%= @error_code %></div>
<div>Error Code Type: <%= @error_code_type %></div>
<div>Error Message: <%= @error_message %></div>
<div>Error Description: <%= @error_description %></div>
